@page "/RealEstateAd"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inherits BaseCreateRealEstateAd



<div class="card-group col-12">
    <EditForm Model="Property" OnValidSubmit="Register" OnInvalidSubmit="InValidRegister" class="card card-body bg-light mt-5 col-md-5 mx-auto">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="title" class=" col-form-label">Title:</label>
            <div class="">
                <InputText id="title" class="form-control" @bind-Value="Property.Title" aria-describedby="titleHelp" />
                <small id="titleHelp" class="form-text text-muted">Tip: Use a descriptive title that catches the attetion of the reader.</small>
                <ValidationMessage For="@(() => Property.Title)" />
            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="col-form-label">Description:</label>
            <div class="">
                <InputText id="Description" class="form-control" @bind-Value="Property.Description" aria-describedby="descriptionHelp" />
                <small id="descriptionHelp" class="form-text text-muted">Description cannot be longer than 1000 characters.</small>
                <ValidationMessage For="@(() => Property.Description)" />
            </div>
        </div>
        <div class="form-group">
            <label for="contact" class="col-form-label">Contact:</label>
            <div class="">
                <InputText id="contact" class="form-control" @bind-Value="Property.Contact" aria-describedby="contactHelp" />
                <small id="contactHelp" class="form-text text-muted">Contact credentials must be supplied.</small>
                <ValidationMessage For="@(() => Property.Contact)" />
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-form-label">Address:</label>
            <div class="">
                <InputText id="address" class="form-control" @bind-Value="Property.Address" />
                <ValidationMessage For="@(() => Property.Address)" />
            </div>
        </div>
        <div class="form-group">
            <div class="text-left mt-5">
                <button type="submit" class="btn btn-success">Register</button>
                <button @onclick="ClearForm" class="btn btn-danger ml-2">Clear</button>
            </div>
        </div>
    </EditForm>
</div>