@page "/"
@page "/home"

    <div class="container">
        <div id="card-width" class="card-columns mt-5">
            <div class="card shadow">
                <img class="card-img-top" src="/Img/seaVillage.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Looking to live abroad?</h5>
                    <p class="card-text">Check out the housing market in another country and be amazed of what the world has to offer</p>
                </div>
            </div>
            <div class="card p-3 shadow">
                <blockquote class="blockquote mb-0 card-body">
                    <p>Did you know that 50% of all houses in your area are privatly owned? Click the link to read the article</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Michael McDonald <cite title="Source Title">The Guardion</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card shadow">
                <img class="card-img-top" src="/Img/Neighborhood.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">500 new real estates in Varberg</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card bg-primary text-white text-center p-3 shadow">
                <blockquote class="blockquote mb-0">
                    <p>Want to see what houses we can offer? Click the link!</p>
                    <footer class="blockquote-footer">
                        <small style="color: whitesmoke">
                            Michael McDoglas <cite title="Source Title">Broker, Hemget</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div  class="card shadow">
                <img class="card-img" src="/Img/CunstructionSite.jpg" alt="Card image">
            </div>
            <div class="card p-3 text-right">
                <blockquote class="blockquote mb-0">
                    <p>Cant find a suitable house or location? Why not build your own house in the shape you want it, where ever you want it</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Bill Builder <cite title="Source Title">Carpenter, Hemget</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">This just in!! Over 1 000 real estates looking for a new owner!</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>


