@page "/RealEstates"
@inherits BaseRealEstate

<link href="css/RealEstateList.css?v=1.30" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500&display=swap" rel="stylesheet">

<Search OnSearch="SearchEstates"></Search>

@if (Error)
{
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-7 alert alert-danger">
            <h3>Something went wrong...</h3>
        </div>

        <div class="col-7 d-flex justify-content-center align-items-center">
            <button class="col-4 btn btn-info" @onclick="TryAgain">Try again</button>
        </div>
    </div>
}

else
{
    @if (!EstatesFound)
    {
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-7 alert alert-info">
                <h3>No estates found</h3>
            </div>
        </div>
    }

    else
    {
        @if (RealEstates.Count() == 0)
        {
            <div class="spinner"></div>
            <p class="pos">Loading...</p>
        }

        else
        {
            if (RealEstates.Count() == 0)
            {
                <p>No real estates found...</p>
            }

            <div class="container">

                <RealEstateList Estates="RealEstates"></RealEstateList>

            </div>

            <Pagination TotalPagesQuantity="TotalPagesQuantity" CurrentPage="CurrentPage" Radius="2" SelectedPage="SelectedPage">

            </Pagination>
        }
    }

}
