@page "/RealEstates"
@inherits BaseRealEstate

<link href="css/RealEstateList.css?v=1.30" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500&display=swap" rel="stylesheet">

<Search OnSearch="SearchEstates"></Search>

@if (RealEstates.Count() == 0)
{
    <div class="spinner"></div>
}

else
{
    if (RealEstates.Count() == 0)
    {
        <p>No real estates found...</p>
    }

    <div class="container">

        <RealEstateList Estates="RealEstates"></RealEstateList>

    </div>

    <Pagination TotalPagesQuantity="TotalPagesQuantity" CurrentPage="CurrentPage" Radius="2" SelectedPage="SelectedPage">

    </Pagination>
}
