<div class="search mb-5">
    <div class="overlay d-flex justify-content-center align-items-center">
        <div class="row col-lg-7 col-md-10 col-sm-11 inputscontainer p-2">

            <div class="col-12 text-center">
                <h3 class="fas" style="font-family: 'Comfortaa';">HEMGET accommodations</h3>
            </div>

            <input class="form-control col-8 mt-3 mb-3" type="text" placeholder="Search city..." @bind="SearchTerm" />
            <button class="col-4 btn mt-3 mb-3" style="background-color: rgb(101, 157, 189); color:white;" @onclick="HandleSearch">Search</button>

        </div>
    </div>
</div>