<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>

                <!--Possibility of adding a custom 404 page. Render som page or component-->

            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
