#carouselExampleIndicators > a:hover {
    cursor: pointer;
}

#broker-card {
    
}

#Broker-image {
   text-align: center;
}

#card-img {
    width: 150px;
    height: 150px;
    border-radius: 57%;
}

#broker-info {
    font-size: small;
}


#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 13px 5px 28px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 5px 28px -12px rgba(0,0,0,0.75);
    box-shadow: 13px 5px 28px -12px rgba(0,0,0,0.75);
}

#floorplan {
    height: 500px;
    width: 100%;
}

.thumbnail {
    padding: 0px;
}

.panel {
    position: relative;
}

    .panel > .panel-heading:after, .panel > .panel-heading:before {
        position: absolute;
        top: 11px;
        left: -16px;
        right: 100%;
        width: 0;
        height: 0;
        display: block;
        content: " ";
        border-color: transparent;
        border-style: solid solid outset;
        pointer-events: none;
    }

    .panel > .panel-heading:after {
        border-width: 7px;
        border-right-color: #f7f7f7;
        margin-top: 1px;
        margin-left: 2px;
    }

    .panel > .panel-heading:before {
        border-right-color: #ddd;
        border-width: 8px;
    }

    #user-img {
        max-height: 100px;
        width: auto;
        border-radius: 50%;
    }