#carouselExampleIndicators > a:hover {
    cursor: pointer;
}

#broker-card {
    
}

#Broker-image {
   text-align: center;
}

#card-img {
    width: 150px;
    height: 150px;
    border-radius: 57%;
}

#broker-info {
    font-size: small;
}


#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 13px 5px 28px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 5px 28px -12px rgba(0,0,0,0.75);
    box-shadow: 13px 5px 28px -12px rgba(0,0,0,0.75);
}

#floorplan {
    height: 500px;
    width: 100%;
}

.thumbnail {
    padding: 0px;
}

.panel {
    position: relative;
}

    .panel > .panel-heading:after, .panel > .panel-heading:before {
        position: absolute;
        top: 11px;
        left: -16px;
        right: 100%;
        width: 0;
        height: 0;
        display: block;
        content: " ";
        border-color: transparent;
        border-style: solid solid outset;
        pointer-events: none;
    }

    .panel > .panel-heading:after {
        border-width: 7px;
        border-right-color: #f7f7f7;
        margin-top: 1px;
        margin-left: 2px;
    }

    .panel > .panel-heading:before {
        border-right-color: #ddd;
        border-width: 8px;
    }

    #user-img {
        max-height: 70px;
        width: auto;
        border-radius: 50%;
    }

#layout {
    background-color: rgb(101, 157, 189);
}

.btn-hover:hover i {
    color: whitesmoke;
    transition: 0.5s;
    cursor: pointer;
}

.page-logo {
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 10px;
    overflow: hidden;
    transition: 0.5s all;
    -webkit-box-shadow: 9px 16px 47px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 16px 47px -19px rgba(0,0,0,0.75);
    box-shadow: 9px 16px 47px -19px rgba(0,0,0,0.75);
}

.page-logo:hover {
    -webkit-box-shadow: -2px 2px 52px -2px rgba(0,0,0,1);
    -moz-box-shadow: -2px 2px 52px -2px rgba(0,0,0,1);
    box-shadow: -2px 2px 52px -2px rgba(0,0,0,1);
}

.page-logo i {
    font-size: 1.3em;
}

.nav-links:hover {
    color: whitesmoke;
    transition: 0.5s;
}


@media(min-width: 580px) and (max-width: 770px){
    #card-width {
        column-count: 2;
    }
}

#nav-link-hover:hover > a {
    color: whitesmoke;
    transition: 0.5s;
}

.star-rating {
    font-size: 1.8em;
    color: #FCCD04;
}

.star-rating > h4 {
    color: black;
}

.star-rating:hover {
    cursor: pointer;
}

/*Todo: Få stjärnorna att lägga sig rätt*/

/*.star-rating > i:hover:before,
.star-rating i:hover ~ i:before {
    color: yellow;
}*/

.star-rating > i:hover:before {
    color: #FCCD04;
}

.star-rating i:hover ~ i:before {
    color: black;
}

.UserBackBtn:hover {
    cursor: pointer;
}

