.carousel-item > img {
    height: 400px;
    width: auto;
}

@media (max-width: 800px) {
    .carousel-item > img {
        height: 300px;
        width: auto;
    }
}

#carouselExampleIndicators > a:hover {
    cursor: pointer;
}

#broker-card {
    
}

#Broker-image {
   text-align: center;
}

#card-img {
    width: 150px;
    height: 150px;
    border-radius: 57%;
}

#broker-info {
    font-size: small;
}


#map {
    height:400px;
    width:100%;
    margin-bottom: 20px;
}

#floorplan {
    height: 500px;
    width: 100%;
}